<h1>Login</h1>

<%= form_tag '/login' do %>


    <div class="col">
        Email: <%= text_field_tag :email %>
    </div>
    &nbsp;

    <div class="col">
        Password: <%= password_field_tag :password %>
    </div>
    &nbsp;
    
    <div class="col">
        <%= submit_tag "Submit" %>
    </div>
<% end %>