<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your recent order from Jungle, your order number is <%= @order.id %></h1>
    <p> 
    <p>
      Your order total is $ <%= @order.total %>
    </p>
    <p>
      <%= render partial: "line_item", collection: @order.line_items %>
    </p>

  </body>
</html>