    .navbar-default {
      background-color: #DBD8AE;
      border-bottom: 2px solid #89591e;
  
      .navbar-nav > li > a {
        line-height: 40px;
        color: #ca907e;
        font-weight: 600;
      }
    }
  
    .navbar {

          .navbar-brand {
            line-height: 40px;
            color: #994636;
          }
        }
  
  
